.card {
    color: #333;
    margin: 0 1rem 1rem 0;
    padding: 1rem;
    flex:1 0 18%;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);
    transition: transfom;
    transition: all 0.5s;
    border-radius: 15px;
  }
  
  .card:hover {
    color: #fff;
    background-color: #333;
  }
  
  .card-name {
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .card-email,
  .card-phone,
  .card-website,
  .card-company {
    font-weight: 600;
    font-size: .8rem;
    padding-bottom: 0.5rem;
  }
  
  .card i {
    padding-right: 0.5rem;
  }
  
